@tailwind base;
@tailwind components;
@tailwind utilities;
*{
        box-sizing: border-box;
        padding: 0;
        margin: 0;
}
body{
        background: #000;
        color: #fff;
}
.container{
        max-width : 1400px ;
        width: 90%;
}
.card{
        background: #131313;
}
.addbtn{
        border: 3px solid rgba(255, 0, 0, 0.457);
        border-radius: .7rem;
        color: rgba(255, 0, 0, 0.542);
        transition: all 0.4s ease-in-out;
}
.addbtn:hover{
        background: #f4f4f4;
        color:rgba(255, 0, 0, 0.719);
}
.addbtn:disabled{
        border: 3px solid #fff !important;
        border-radius: .7rem;
        color:#f4f4f4;
}
@media(min-width: 480px) and (max-width: 750px) {
        .card{
                width: 48.3%;
        }
      }
@media(min-width: 150px) and (max-width: 480px) {
        .card{
                width: 95%;
        }
}